# Sample /etc/yumcache.config file
# Line format:
# <bogus hostname>::<mirror1>[::<mirror2>[::<mirror3>....]]
# Example:
# www.idontexist.com::hostnameInOfficeNetwork:8080/idontexitmirrorpath
# the previous line will make the requests to yumcache server (localhost:1012)
# to path /www.idontexist.com/somePath to actually access
# hostnameInOfficeNetwork:8080/idontexitmirrorpath/somePath
